@model ASP.NET_MVC_Application.Models.Client

@{
    ViewBag.Title = "Update the Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h3>Update the following form</h3>
</div>
<form method="post" style="margin: 5% 0 0">
    <table>
        <tr>
            <td>Name:  </td>
            <td><input type="text" style="margin: 1px 0 2px" name="name" value="@Model.Name" /><br /></td>
        </tr>
        <tr>
            <td>Address:  </td>
            <td><input type="text" style="margin: 1px 0 2px" name="address" value="@Model.Address" /><br /></td>
        </tr>
        <tr>
            <td>Trusted:  </td>
            <td><input type="checkbox" style="margin: 1px 0 2px" name="trusted"
                     @if (Model.Trusted) { <text> checked="checked" </text>  }/>
            <br /></td>
        </tr>
        <tr></tr>
    </table>
    <div class="float-right">
        <input type="submit" value="Save" />
    </div>
</form>

<p>
    @if (ViewBag.Submitted != null && ViewBag.Submitted)
    {
        // If the form was submitted
        @ViewBag.Message
    }
</p>